<!-- <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" /> -->
<!-- <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css" /> -->
<!-- <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script> -->
<link type="text/css" rel="StyleSheet" href="/stylesheets/chart.css"/>
<!-- <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script> -->
<script src="/javascripts/chart.js"></script>

<div class="container">
<div class="row">
<div class="columns">

<!-- График --><div id="chart">

<script>
  $(function () {

    var householdPrices = [ 
      {x:'2001', y:0.164},
      {x:'2002', y:0.173},
      {x:'2003', y:0.184},
      {x:'2004', y:0.167},
      {x:'2005', y:0.177},
      {x:'2006', y:0.189},
      {x:'2007', y:0.180},
      {x:'2008', y:0.183},
      {x:'2009', y:0.188},
      {x:'2010', y:0.160},
      {x:'2011', y:0.176},
      {x:'2012', y:0.178}
    ];

    $("#chart").shieldChart({
      theme: "light",
      exportOptions: {
        image: false,
        print: false
      },
      primaryHeader: {
        text: "Давление (датчик BMP180)"
      },
      // chartLegend: {
      //   align: 'right',
      //   verticalAlign: 'top',
      //   renderDirection: 'vertical'
      // },
      seriesSettings: {
        line: {
          enablePointSelection: true,
          pointMark: {
            activeSettings: {
              pointSelectedState: {
                drawWidth: 4,
                drawRadius: 4
              }
            }
          }
        }
      },
      axisY: {
        title: {
          text: "Давление (мм рт.ст.)"
        }
      },
      dataSeries: [
        {
          seriesType: 'line',
          collectionAlias: "Давление",
          data: {{{pressureData}}}
        }
      ]
    });
  });
 </script><!-- /.График -->

 </div><!-- /#chart -->

</div><!-- /.col-md-8 col-md-offset-2 -->
</div><!-- /.row -->
</div><!-- /.container -->