<!-- <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" /> -->
<!-- <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css" /> -->
<!-- <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script> -->
<link type="text/css" rel="StyleSheet" href="/stylesheets/chart.css"/>
<!-- <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script> -->
<script src="/javascripts/chart.js"></script>

<div class="container">
<div class="row">
<div class="columns">

<!-- График --><div id="chart">

<script>
  $(function () {

    $("#chart").shieldChart({
      theme: "light",
      exportOptions: {
        image: false,
        print: false
      },
      primaryHeader: {
        text: "Датчик давления BMP180"
      },
      // chartLegend: {
      //   align: 'right',
      //   verticalAlign: 'top',
      //   renderDirection: 'vertical'
      // },
      seriesSettings: {
        line: {
          enablePointSelection: true,
          pointMark: {
            activeSettings: {
              pointSelectedState: {
                drawWidth: 4,
                drawRadius: 4
              }
            }
          }
        }
      },
      axisX: {
        categoricalValues: {{{pressureDataX}}}
      },
      axisY: {
        title: {
          text: "Давление (мм рт.ст.)"
        }
      },
      dataSeries: [
        {
          seriesType: 'line',
          collectionAlias: "Давление",
          data: {{{pressureDataY}}}
        }
      ]
    });
  });
 </script><!-- /.График -->

 </div><!-- /#chart -->

</div><!-- /.col-md-8 col-md-offset-2 -->
</div><!-- /.row -->
</div><!-- /.container -->